/*  Start common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.all-container{
    flex-wrap: wrap;
    width: 100%;
}

.btn{
    text-decoration: none;
}
body{
    overflow-y: hidden;
}
.flex-shrink{
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

/* End Common */

/* Start css rules */

/* Inizio regole header */
#sidebar{
    background-color: black;
    height: calc(100vh - 80px);
    width: 180px;
    flex-wrap: wrap;
    
    
}

.container-sidebar{
   flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    
    
}
.logo img{
    width: 60%;
    margin-top: 10px;
    
}

.logo-small{
    display: none;
}

.nav-icon{
    margin-top: 10px;
}
ul li img{
    height: 30px;
    margin-top: 10px;   
    
}

.nav-icon ul li a{
    display: flex;
    align-items:center;
    color: white;
    text-decoration: none;   
    
}
.playlist{
    margin-top: 10px;
}
.playlist h3{
    color: #fff;
    margin: 0px 0 10px 0;
    
}

.fas.fa-plus-square{
    font-size: 40px;
    color:  #a3a3a3;
    padding-right: 10px;
}

.nav-playlist{
    overflow-y: auto;
    
    
}

.add-playlist .btn-playlist{
    color:  #a3a3a3;
    display: flex;
    align-items: center;
    
}



.nav-playlist a{
    text-decoration: none;
    color:  #a3a3a3;
}

.nav-playlist li{
    padding-top: 10px;
}
/* Parte inferiore del header con download e account */
.account{
    width: 170px;
    align-self: flex-end;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: auto;
    position: fixed;
    background-color: #000;
}

.download{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.btn-download{
    align-items: center;
    color:  #a3a3a3;

}

.download img{
    height: 18px;
}

.account-btn{
    margin-top: 10px;
    padding-top: 10px;
    width: 150px;
    border-top: 1px solid #a3a3a3;
    color: #a3a3a3;
    align-items: center;
}

.account-btn img{
    background-color: #a3a3a3;
    border-radius: 50%;
    width:24px;
    height: 24px;
}

#user-name{
    font-size: 16px;
    color: white;
    margin-left: 5px;
}
/* Fine regole header */



/* Inizio regole main */

main{
    background-color: rgb(20,25,34);
    height: calc(100vh - 80px);
    width: calc(100% - 180px);
    overflow-y: auto;
    padding-top: 90px;
}

/* Pannello superiore main */
#panel-main{
    
    width: calc(100% - 180px);
    height: 80px;
    background-color: rgba(8,11,18,0.5);
    line-height: 80px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

#panel-main .btn-main{
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 5px 14px;
    margin-right: 30px;
    display: inline-block;
}

.btn-main:hover{
    transform: scale(1.1);
    
}
/* Nav di main */
.main-nav ul{
    text-align: center;
    margin-top: 10px;
}
.main-nav li{
    display: inline;
    padding: 0 10px;
    
    
}
.main-nav li a{
    color: #a3a3a3;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    padding: 5px 0px;
}
.main-nav li a.active::after{
    content: "";
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
/* Inizio album ripodotti di recente */
.riprodotti{
    
    margin-top: 30px;
}
.riprodotti h2{
    color: #fff;
    margin-bottom: 30px;
}

.album::after{
    content: "";
    display:table;
    clear: both;
    
}
.album{
    margin: auto;
}
.album .copertina{   
    width: calc(100% / 6 - 20px);
    float: left;
    margin: 0 10px;
    text-align: center;
    height: 350px;
    
}
.copertina img{
    width: 100%;
}

.text-copertina h4{
    color: #fff;
    margin-bottom: 10px;
}

.text-copertina p{
    color: #a3a3a3;
}

.album.suggeriti h2{
    color: #fff;
    padding-bottom: 10px;
}
.album.suggeriti p{
    color: #a3a3a3;
    margin-bottom: 10px;
}

.popolari .copertina img{
    border-radius: 50%;
}

/* Fine regole main */



/* Inizio regole footer */

footer{
    background-color:  #282828;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;   
    z-index: 9999999;
    justify-content: space-between;
}

/* Parte sinistra del footer */
.sx{   
    align-items: center;
    width: 200px;
    flex-shrink: 1;
    justify-content: flex-start;
}
.col.sx img{
    width: 25px;
    
}


.col.sx .text-copertina h6{
    color: #fff;
}
.col.sx .text-copertina p{
    font-size: 11px;
}

.icone-footer{
    flex-wrap: wrap;
}

.icone-footer a{
    padding-left: 15px;
    color: #a3a3a3;
    
    
}

/* Parte centrale del footer */
.middle{
    width: calc(100% - 380px - 30px);
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left:30px;
}
.btn-riproduzione a{
    padding: 0 10px;
    
}
.btn-riproduzione{
    margin-bottom: 20px;
}
.barra-musica{
    width: 50%;
    align-items: center;
    justify-content: center;
}
.barra-riproduzione{
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #a3a3a367;
    margin: 0 20px;

    
}

.tempo-effettivo{

    width: 20%;
    background-color: #c1c1c1;
    height: 3px;
    position: relative;
}

.tempo{
    font-size: 13px;
    color: #fff;
}

#tempo-min{
    position: absolute;
    left: 50px;
    top: -6px;
    color: #fff;
    
    
}

/* Parte destra del footer */
.dx{
    
    align-items: center;
    width: 180px;
    justify-content: flex-end;
}

.fas.fa-desktop{
    margin: 0 10px;
}

.barra.volume{
    width: 100px;
    height: 3px;
    background-color: #a3a3a367;
    border-radius: 3px;
    margin: 0 20px;
}
#volume{
    width: 40%;
    background-color: #c1c1c1;
    height: 3px;
    position: relative;
}

.col.dx .fas{
    color: #fff;
}

.fa-circle{
    position: absolute;
    left: 30px;
    top: -6px;
    color: #fff;
    display: none;
}

/* Fine regole footer */

/* End css rules */


/* Start Media query rules */

/* Per (xs) Media query */
@media screen and  (max-width:575px) {
 /* Inizio regole header */
    #sidebar{

       
        height: calc(100vh - 80px);
        width: 50px;
        
    
    }

    .container-sidebar{
        width: 100%;
        display: flex;
        align-content: flex-start;
        
    }

    .logo img{
        display: none;
        
    }
    
    .logo-small{
        width: 70%;
        display: block;
        margin-top: 0px;
        align-items: center;
    }
    .nav-icon{
        align-items: flex-start;
        
    }
    .nav-icon span{
        display: none;
    }

    .playlist{
        display: none;
    }

    .btn-download img{
        height: 24px;
        width: 24px;
        align-items: center;
        
    }
    .btn-download div{
        display: none;
    }

    .account{
        width: 50px;
        align-items: center;
        padding: 0;
    }
    .download{
        justify-content: center;
    }
    .account-btn{
        margin-top: 10px;
        padding-top: 10px;
        width: 100%;
        border-top: none;
        color: #a3a3a3;
        justify-content: center;
        align-items: center;
    }
    .account-btn h3{
        display: none;
    }
 /* Fine regole header */

    main{
        
        height: calc(100vh - 80px);
        width: calc(100% - 50px);
    }

    #panel-main{
        width: calc(100% - 50px);
    }
    
    .album .copertina{ 
        width: calc(100% / 2 - 20px);
    
    }

    
}

/* Per (s) Media quwery */
@media screen and (min-width: 575px) and (max-width: 767px) {
    
    #sidebar{
     
        height: calc(100vh - 80px);
        width: 180px;
        
    }

    main{
        
        height: calc(100vh - 80px);
        width: calc(100% - 180px);
    }
    
    .album .copertina{
    
        width: calc(100% / 2 - 20px);  
        
    }
   

    
}

/* Per (md) Media query */
@media screen and (min-width: 768px) and (max-width:991px){
    
    #sidebar{

        
        height: calc(100vh - 80px);
        width: 180px;
        
    
    }

    main{
        
        height: calc(100vh - 80px);
        width: calc(100% - 180px);
    }
    
    .album .copertina{  
        width: calc(100% / 4 - 20px);
       
    }
   

    
}

/* Per (LG) Media query */
@media screen and (min-width: 992px) {
    
    #sidebar{
        
        height: calc(100vh - 80px);
        width: 180px;
        
    
    }

    main{
        
        height: calc(100vh - 80px);
        width: calc(100% - 180px);
    }
    
   

   
}

/* End Media query rules */